# Dependencies
node_modules/
package-lock.json
yarn.lock

# Session files  
sessions/
creds.json

# Environment variables
.env
.config

# Logs
*.log
logs/

# Temporary files
tmp/
temp/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
